footer
 .r
  .c5
   nav.center-small
    ul
     li 
      a(href=siteurl + 'index.html', title="How it works page") How it works
     li 
      a(href=siteurl + 'support/questions-answers.html', title="Support page") Support
     li 
      a(href=siteurl + 'news.html', title="News page") News
     li 
      a(href=siteurl + 'privacy.html', title="Privacy") Privacy
     li 
      a(href=siteurl + '#', title="Terms and conditions") Terms and conditions
     //-  li Contacts
     //-   a(href=siteurl + '#', title="Contacts") Contacts
    p
    p   
    ul
     li Phone: 
      a(href="#", title="Phone") 1234567890
     li Email: 
      a(href="#", title="Email") email@email.com
     li Address: Street, Town, Country
      
  .c5
   h2 About us
   p Opinion Arena is the fastest growing survey platform in Northern Europe. Our members are Internet users between 14 and 75 years. Each member is rewarded for completing questionnaires and sharing their opinions.   
   p Opinion Arena conducts surveys on products, services, policies and brand awareness. We are interested in people's opinions and attitudes, we are not engaged in sales or marketing. You can participate in surveys via computer or mobile phone. Our members choose themselves which surveys and when they participate in.
   p Opinion Arena provides surveys ordered by institutions, market research companies, large production companies, advertising companies, etc. We keep your personal information secret and never hand it out to other companies.