header
 .r
  .c30
   a(href=siteurl, title="Home page")
    img#logo(src="https://www.manonuomone.lt/assets/img/logo.png", alt="Logotipas") 
  .c4
   nav.center-small.right
      a(href=siteurl + 'index.html', title="How it works page") How it works 
      a(href=siteurl + 'support/questions-answers.html', title="Support page") Support
      a(href=siteurl + 'news.html', title="News page") News

  .c30
   .center-small
     a.button.right.action(href=siteurl + "sign-up.html", title="Sign-up") Sign-up 
     a.button.right(href=siteurl + "sign-in.html", title="Sign-in") Sign-in