section
 .r
  #partners.c0
   h2 Our partners
   img(src=siteurl + "img/makalius_logo.png", alt="Makalius")
   img(src=siteurl + "img/partners_akropolis.jpg", alt="Akropolis")
   img(src=siteurl + "img/partners_iki.png", alt="IKI")
   img(src=siteurl + "img/partners-charity.png", alt="Charity")
   img(src=siteurl + "img/partners_knyguklubas.png", alt="Knygų klubas")
   img(src=siteurl + "img/partners_tiketa.png", alt="Tiketa")
   img(src=siteurl + "img/partners-perlas.png", alt="Loterija Perlas")
    