p Navigation after log-in:
ul.center-small
 li 
  a#surveys(href=siteurl + "your-surveys.html", title="Surveys") Surveys
 li 
  a#quick-surveys(href=siteurl + "your-quick-survey.html", title="Quick surveys") Quick surveys
 li 
  a#lottery(href=siteurl + "your-lottery.html", title="Lottery") Lottery
 li 
  a#friends(href=siteurl + "your-friends.html", title="Invite friends") Invite friends
 li 
  a#profile(href=siteurl + "your-profile.html", title="Your profile") Your profile