extends ./default.pug

block main
 each page, i in collections.test
  .r
   .c0
     article.va
       if (i % 2 == 0)
        img.va-img(src=siteurl + 'img/' + page.img, alt=page.title)
        .va-text
         h1 #{page.title}
         != page.contents 
       else  
        .va-text
         h1 #{page.title}
         != page.contents
        img.va-img(src=siteurl + 'img/' + page.img, alt=page.title)
         
 include ./partials/partners.pug
 