extends ./default.pug

block header
 include ./partials/header-profile.pug
 
block main
 include ./partials/top-dashboard.pug
 section
  .r
   .c30
    include ./partials/profile-left-menu.pug
  
   .c7
    h1 Your profile

    p Explain why user has to fill this.


    form(action="#")

     .r
      .c5
       h2.text-left Section 'About you' (0/5)
      .c5.text-right
        label(for="profilesections") Profile sections
          select#profilesections
            each i, variable in ["About you 0/5", "Household 0/7", "Health 0/7", "Job 0/7", "Leisure 0/7", "Vehicle 0/7", "Technologies 0/7"] 
              option(value=variable) #{i} (+5 points)

     fieldset
      legend Your gender
      
      input#vyras(type="radio", name="lytis" value="vyras" checked)
      label(for="vyras") Male
        
      input#moteris(type="radio", name="lytis" value="moteris")
      label(for="moteris") Female

     fieldset
      legend Mother tongue
      
      input#lietuviu(type="radio", name="kalba" value="lietuvių" checked)
      label(for="lietuviu") Lithuanian
        
      input#rusu(type="radio", name="kalba" value="rusų" checked)
      label(for="rusu") Russian

      input#kita(type="radio", name="kalba" value="kita" checked)
      label(for="kita") English

    fieldset#apskritis
      legend District

      input#alytaus(type="radio", name="apskritis" value="Alytaus" checked)
      label(for="alytaus") Alytaus apskritis
      br
      input#kauno(type="radio", name="apskritis" value="Kauno")
      label(for="kauno") Kauno apskritis
      br
      input#klaipedos(type="radio", name="apskritis" value="Klaipėdos")
      label(for="klaipedos") Klaipėdos apskritis
      br
      input#marijampoles(type="radio", name="apskritis" value="Marijampolės")
      label(for="marijampoles") Marijampolės apskritis
      br
      input#panevezio(type="radio", name="apskritis" value="Panevėžio")
      label(for="panevezio") Panevėžio apskritis
      br
      input#siauliu(type="radio", name="apskritis" value="Šiaulių")
      label(for="siauliu") Šiaulių apskritis
      br
      input#taurages(type="radio", name="apskritis" value="Tauragės")
      label(for="taurages") Tauragės apskritis
      br
      input#telsiu(type="radio", name="apskritis" value="Telšių")
      label(for="telsiu") Telšių apskritis
      br
      input#utenos(type="radio", name="apskritis" value="Utenos")
      label(for="utenos") Utenos apskritis
      br
      input#vilniaus(type="radio", name="apskritis" value="Vilniaus")
      label(for="vilniaus") Vilniaus apskritis

    fieldset
      legend Date of birth

      label(for="gim-year") Year
       select#gim-year
        -var n = 1940;
        while n < 2006
            option(value=n) #{n++}

      label(for="gim-month") Month
       select#gim-month
        //- ["January", "February", "March", "April", "May", "June", "July", "August", "September", "November", "December"] 
        //- ["Sausis", "Vasaris", "Kovas", "Balandis", "Gegužė", "Birželis", "Liepa", "Rugpjūtis", "Rugsėjis", "Lapkritis", "Gruodis"]
        each i, variable in ["January", "February", "March", "April", "May", "June", "July", "August", "September", "November", "December"] 
            option(value=variable) #{i}

      label(for="gim-day") Day
       select#gim-day
        -var n = 1;
        while n < 32
            option(value=n) #{n++}
    
    fieldset
      legend Address 

      label(for="gatve") Street
      input#gatve(type="text", name="gatve")
      
      label(for="namo-nr") Building number
      input#namo-nr(type="text", name="namo-nr")
      
      label(for="miestas") City
      input#miestas(type="text", name="miestas")
      
      label(for="country") Country
      input#country(type="text", name="country")
      
    a(href="#", title="Previous: Health").button Previous: Health
    a(href="#", title="Save changes").button.action Save
    a(href="#", title="Next: Household").button Next: Household